/**
 * Vars
 */

$blue: #8492ff;
$light_text: #fff;
$grey: #ccc;


/**
 * Includes
 */

@import 'css/components/mixin';
@import 'css/components/main';

@import 'css/components/typo';

@import 'css/components/posts';
