/**
 * Vars
 */

$text_color: #000;
$blue: #8492ff;
$light_text: #fff;
$grey: #999;
$border: #eaeaea;


/**
 * Includes
 */

@import 'css/components/mixin';
@import 'css/components/main';

@import 'css/components/typo';

@import 'css/components/posts';
